<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

 	<Appenders>
  
    	<Console name="stdout" target="SYSTEM_OUT">
      		<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      		<PatternLayout pattern="[%-5p] (%F:%L) %m%n"/>
    	</Console>    	
    	
    	<RollingRandomAccessFile name="file_tsdb" fileName="logs/tsdb.log" filePattern="logs/old/tsdb_%i.log">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%p] %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="file_tsdb_info" fileName="logs/tsdb_info.log" filePattern="logs/old/tsdb_info_%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%p] %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="file_tsdb_warn" fileName="logs/tsdb_warn.log" filePattern="logs/old/tsdb_warn_%i.log">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%p] %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="file_tsdb_web_request" fileName="logs/web_request.log" filePattern="logs/old/web_request_%i.log">
			<MarkerFilter marker="request"/>
			<PatternLayout pattern="[%marker] %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
		</RollingRandomAccessFile>

    	<RollingRandomAccessFile name="file_jepc" fileName="logs/jepc.log" filePattern="logs/old/jepc_%i.log">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%p] %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="file_jepc_warn" fileName="logs/jepc_warn.log" filePattern="logs/old/jepc_warn_%i.log">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%p] %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1024 MB" />
			</Policies>
		</RollingRandomAccessFile>
		
 		<Async name="Async">
			<AppenderRef ref="stdout"/>
			<AppenderRef ref="file_tsdb"/>
			<AppenderRef ref="file_tsdb_info"/>
			<AppenderRef ref="file_tsdb_warn"/>
			<AppenderRef ref="file_jepc"/>
			<AppenderRef ref="file_jepc_warn"/>
		</Async>		
    
	</Appenders>
	
	<Loggers>
	
		<Logger name="tsdb" level="trace">
			<AppenderRef ref="file_tsdb"/>
			<AppenderRef ref="file_tsdb_info"/>
			<AppenderRef ref="file_tsdb_warn"/>
			<AppenderRef ref="file_tsdb_web_request"/>					
		</Logger>		
		
		<Logger name="de.umr.jepc" level="trace">
			<AppenderRef ref="file_jepc"/>
			<AppenderRef ref="file_jepc_warn"/>		
		</Logger>
    
		<Root level="info">
			<AppenderRef ref="stdout"/>			
		</Root>
	</Loggers>
	
</Configuration>